.footer-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;

  @include vp-1023 {
    align-items: flex-start;
  }
}

.footer-nav__list {
  display: flex;
  gap: 33px;
  flex-wrap: wrap;
  max-width: 900px;
  padding-bottom: 2px;

  @include vp-1023 {
    gap: 24px;
    padding-bottom: 10px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
  }
}

.footer-nav__link {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #f9fbfd;

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 15px;
  }
}
